.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 9%;
  left: 90%;
  z-index: 300;
  transition: transform 0.5s;

  @media (max-width: 1024px) {
    top: 12%;
  }
  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 480px) {
    top: 8%;
    width: 25px;
    height: 25px;
  }

  .menu {
    @include flexLayout;
    @extend %fullLayoutSize;
    flex-direction: column;
    justify-content: space-around;

    &-line {
      height: 4px;
      @extend %fullLayoutSize;
      background-color: $color-primary;
      transform-origin: right;
      transition: all 0.5s 0.5s;

      @media (max-width: 768px) {
        height: 3px;
      }
    }
  }
}

.logo {
  font-size: 70px;
  color: $color-primary;
  display: block;
  border: 3px solid $color-primary;
  text-decoration: none;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  @include flexLayout;

  @media (max-width: 1200px) {
    font-size: 50px;
    width: 90px;
    height: 90px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    width: 70px;
    height: 70px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
}

.main-name {
  color: $color-secondary;
  font-size: 50px;
  font-family: $font-nunito;
  @include textStyles;

  @media (max-width: 1200px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.sub-name {
  color: $color-secondary;
  font-size: 18px;
  font-family: $font-josefinSans;
  text-align: center;
  @include textStyles;

  @media (max-width: 1200px) {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (max-width: 480px) {
    font-size: 10px;
  }
}

.main-heading {
  font-weight: 300;
  font-size: 80px;
  font-family: $font-dancingScript;
  margin-bottom: 30px;
  color: $color-primary;

  @media (max-width: 1200px) {
    font-size: 70px;
  }
  @media (max-width: 768px) {
    font-size: 60px;
    margin-bottom: 20px;
  }
  @media (max-width: 480px) {
    font-size: 40px;
    margin-bottom: 15px;
  }
}

.sub-heading {
  font-weight: 300;
  font-size: 40px;
  font-family: $font-josefinSans;
  margin-bottom: 40px;
  color: $color-secondary;

  @media (max-width: 1200px) {
    font-size: 30px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 30px;
  }
  @media (max-width: 480px) {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.main-btn {
  width: 140px;
  height: 40px;
  font-size: 15px;
  background-color: transparent;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 5px;
  text-transform: uppercase;
  @extend %buttonStyle;
  transition: all 0.4s;

  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }

  @media (max-width: 768px) {
    font-size: 12px;
    width: 120px;
    height: 30px;
  }

  @media (max-width: 480px) {
    font-size: 10px;
    width: 100px;
    height: 25px;
  }
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;

  @media (max-width: 500px) {
    width: 50%;
    height: 50vw;
  }

  &:hover .card-overlay {
    left: 0;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    @include flexLayout;
    flex-direction: column;
    background-color: rgba($color-primary, 0.6);
    @extend %fullLayoutSize;
    transition: left 0.6s;

    &-name {
      font-size: 40px;
      font-family: $font-nunito;
      color: $color-white;
      @include textStyles(capitalize);

      @media (max-width: 1024px) {
        font-size: 30px;
      }
      @media (max-width: 768px) {
        font-size: 25px;
      }
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    &-price {
      font-size: 20px;
      font-family: $font-josefinSans;
      color: $color-white;
      margin-bottom: 15px;
      @include textStyles(capitalize);

      @media (max-width: 1024px) {
        font-size: 18px;
      }
      @media (max-width: 768px) {
        font-size: 15px;
      }
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }

    &-btn {
      @extend %buttonStyle;
      width: 100px;
      height: 30px;
      border-radius: 20px;
      border: 1px solid $color-white;
      color: $color-primary;
      @media (max-width: 480px) {
        font-size: 10px;
      }
    }
  }

  &-img {
    @extend %fullLayoutSize;
    object-fit: cover;
  }
}

.footer-social-media {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;

  &-list {
    margin-left: 20px;
    list-style: none;
  }

  &-link {
    font-size: 30px;
    color: $color-secondary;
    transition: color 0.7s;

    @media (max-width: 1024px) {
      font-size: 25px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 480px) {
      font-size: 15px;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
