.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.8)),
    url('../images/bg.jpeg') center no-repeat;
  background-size: cover;

  .brand {
    @include centeringText(15%);
    @include flexLayout;
  }

  &-banner {
    text-align: center;
    color: #fff;
    @include centeringText(50%);
  }
}

.about-us {
  display: flex;
  height: 90vh;
  align-items: center;

  &-left {
    position: relative;
    width: 40%;
    left: -150px;

    img {
      width: 100%;
    }
  }

  &-right {
    width: 60%;
    padding: 0 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .stars {
      color: $color-primary;
      margin: 20px 0;

      .star {
        margin-right: 10px;
      }
    }

    p {
      text-align: justify;
      color: $color-secondary;
      font-family: $font-josefinSans;
    }
  }
}
